<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>List of Books</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/resources/css/bootstrap-theme.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Publisher</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.publisher.nom}"></td>
            </tr>
        </table>
    </body>
</html>
